html, body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-color: rgb(209, 213, 255);
}
.form{
    text-align: center;
    font-size: 3rem;
    font-family: "Quicksand", sans-serif;
    margin: 2rem auto;
}

#button{
    text-align: center;
    font-size: 3rem;
    font-family: "Quicksand", sans-serif;
    margin: 2rem auto;
}

.deletebtn{
    text-align: center;
    font-size: 2rem;
    font-family: "Quicksand", sans-serif;
    margin: 2rem auto;
}

.title{
    text-align: center;
    font-size: 4.5rem;
    font-family: "Quicksand", sans-serif;
}

.container{
    font-family: "Quicksand", sans-serif;
    font-size: 10rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.box{
    border: 8px solid rgb(2, 4, 105);
    background-color: rgb(50, 97, 224);
    border-radius: 8px;
    padding: 1rem;
    width: 33rem;
    height: 40rem;
    overflow: hidden;
    margin-top: 5rem;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 5px  rgb(1, 13, 53);

}

.pictures1{
    width: 80%;
    height: 50%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

