html, body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.userinput{
    text-align: center;
    font-size: 4.5rem;
    font-family: "Quicksand", sans-serif;
}
.form{
    margin: 2rem auto;
}

